body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #DCD7C9;
    background-color: #2C3639;
}
.topContainer {
    background-color: #2C3639;
    position: relative;
    padding-top: 5%;
    padding-bottom: 5%
   }

h1 {
    color: #DCD7C9;
    margin: 4.125rem auto 0;
    font-family: 'Pacifico', cursive;
    font-size: 5.625rem;
    font-weight: normal;
    line-height: 2;
    }

h2 {
    color: #DCD7C9;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin-top: 0;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #A27B5C;
}
a {
    color: #A27B5C;
}
.bottom-cloud {
    position: absolute;
    left: 20%;
    bottom: 55%;
}

.top-cloud {
    position:absolute;

    left: 65%;
}
.mountain {
    padding-top: 3%;
}

.skills {
    padding-top: 7%;
    padding-bottom: 7%;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px;
    text-align: left;
    line-height: 2;

}

.python {
    float: right;
    margin-left: 30px;
    width: 25%;
}

.computer {
    float: left;
    margin-right: 30px;
    width: 25%;
}

hr {
    border-style: none;
    border-top: 10px dotted;
    border-color: #3F4E4F;
    height: 0;
    width: 6%
}

.profile {
    padding-top: 10%;
    padding-bottom: 10%;
    position: relative;
}

.santiago {
    padding-bottom: 5%;
}

.contact-me {
    padding-top: 7%;
    padding-bottom: 7%;
    line-height: 2;
}

.bottom-container {
    background-color: #DCD7C9;
    display: flow-root;
    padding-top: 3%;

}
.footer-link {
    margin: auto 10% 5%;
}
.copyright {
    color: #A27B5C;
    font-size: 0.85rem;
    margin-top: 3%;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #A27B5C;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #A27B5C;
  text-decoration: none;
}